.yu-color__main {
  color: $yu-color__main !important;
}
.yu-color__content {
  color: $yu-color__content !important;
}
.yu-color__tips {
  color: $yu-color__tips !important;
}
.yu-color__light {
  color: $yu-color__light !important;
}
.yu-color__border {
  color: $yu-color__border !important;
}
.yu-color__bg {
    background-color: $yu-color__bg !important;
}

// color__default
.yu-color__default {
  color: $yu-color__default !important;
}
.yu-color-default__disabled {
  color: $yu-color-default__disabled !important;
}
.yu-color-default__dark {
  color: $yu-color-default__dark !important;
}
.yu-color-default__light {
  color: $yu-color-default__light !important;
}
// background-color__default
.yu-background-color__default {
  background-color: $yu-color__default !important;
}
.yu-background-color-default__disabled {
  background-color: $yu-color-default__disabled !important;
}
.yu-background-color-default__dark {
  background-color: $yu-color-default__dark !important;
}
.yu-background-color-default__light {
  background-color: $yu-color-default__light !important;
}

// color__info
.yu-color__info {
  color: $yu-color__info !important;
}
.yu-color-info__light {
  color: $yu-color-info__light !important;
}
.yu-color-info__disabled {
  color: $yu-color-info__disabled !important;
}
.yu-color-info__dark {
  color: $yu-color-info__dark !important;
}
// background-color__info
.yu-background-color__info {
  background-color: $yu-color__info !important;
}
.yu-background-color-info__light {
  background-color: $yu-color-info__light !important;
}
.yu-background-color-info__disabled {
  background-color: $yu-color-info__disabled !important;
}
.yu-background-color-info__dark {
  background-color: $yu-color-info__dark !important;
}

// color__warning
.yu-color__warning {
  color: $yu-color__warning !important;
}
.yu-color-warning__disabled {
  color: $yu-color-warning__disabled !important;
}
.yu-color-warning__dark {
  color: $yu-color-warning__dark !important;
}
.yu-color-warning__light {
  color: $yu-color-warning__light !important;
}
// background-color__warning
.yu-background-color__warning {
  background-color: $yu-color__warning !important;
}
.yu-background-color-warning__light {
  background-color: $yu-color-warning__light !important;
}
.yu-background-color-warning__disabled {
  background-color: $yu-color-warning__disabled !important;
}
.yu-background-color-warning__dark {
  background-color: $yu-color-warning__dark !important;
}

// color__primary
.yu-color__primary {
  color: $yu-color__primary !important;
}
.yu-color-primary__disabled {
  color: $yu-color-primary__disabled !important;
}
.yu-color-primary__dark {
  color: $yu-color-primary__dark !important;
}
.yu-color-primary__light {
  color: $yu-color-primary__light !important;
}
// background-color__primary
.yu-background-color__primary {
  background-color: $yu-color__primary !important;
}
.yu-background-color-primary__light {
  background-color: $yu-color-primary__light !important;
}
.yu-background-color-primary__disabled {
  background-color: $yu-color-primary__disabled !important;
}
.yu-background-color-primary__dark {
  background-color: $yu-color-primary__dark !important;
}

// color__danger
.yu-color__danger {
  color: $yu-color__danger !important;
}
.yu-color-danger__disabled {
  color: $yu-color-danger__disabled !important;
}
.yu-color-danger__dark {
  color: $yu-color-danger__dark !important;
}
.yu-color-danger__light {
  color: $yu-color-danger__light !important;
}
// background-color__danger
.yu-background-color__danger {
  background-color: $yu-color__danger !important;
}
.yu-background-color-danger__light {
  background-color: $yu-color-danger__light !important;
}
.yu-background-color-danger__disabled {
  background-color: $yu-color-danger__disabled !important;
}
.yu-background-color-danger__dark {
  background-color: $yu-color-danger__dark !important;
}
