//main
$mainBg: #409eff;

$yu-color__main: #646566;
$yu-color__content: #606266;
$yu-color__tips: #969799;
$yu-color__light: #c0c4cc;
$yu-color__border: #ebedf0;
$yu-color__bg: #f8f8f8;

$yu-color__default: #000000;
$yu-color-default__disabled: #c8c9cc;
$yu-color-default__dark: #969799;
$yu-color-default__light: #ffffff;

$yu-color__info: #1989fa;
$yu-color-info__light: #ecf5ff;
$yu-color-info__disabled: #a0cfff;
$yu-color-info__dark: #2b85e4;

$yu-color__warning: #ff976a;
$yu-color-warning__disabled: #fcbd71;
$yu-color-warning__dark: #f29100;
$yu-color-warning__light: #fdf6ec;

$yu-color__primary: #07c160;
$yu-color-primary__disabled: #71d5a1;
$yu-color-primary__dark: #18b566;
$yu-color-primary__light: #dbf1e1;

$yu-color__danger: #ee0a24;
$yu-color-danger__disabled: #fab6b6;
$yu-color-danger__dark: #dd6161;
$yu-color-danger__light: #fef0f0;